TransNoter.yml
app:
  description: 与えられたファイルまたはURLのテキストを抽出し、Notionに要約と全文翻訳を出力する
  icon: 📝
  icon_background: '#D1E9FF'
  mode: workflow
  name: TransNoter
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 35d2efae-1ab5-42fa-a16d-b02e7fed56f1
    name: Notion_Master_DB_ID
    value: ''
    value_type: secret
  - description: ''
    id: 46f2a735-3515-4576-b2d4-4c0fb5745556
    name: Notion_database_ID
    value: ''
    value_type: secret
  - description: ''
    id: 761a061b-98a0-4a1e-ad36-2a12af6ab941
    name: Notion_API_Key
    value: ''
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1729728369548-true-1729726199675-target
      selected: false
      source: '1729728369548'
      sourceHandle: 'true'
      target: '1729726199675'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: document-extractor
      id: 1729728369548-false-1729727741658-target
      selected: false
      source: '1729728369548'
      sourceHandle: 'false'
      target: '1729727741658'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1729726199675-source-1729728469370-target
      selected: false
      source: '1729726199675'
      sourceHandle: source
      target: '1729728469370'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: document-extractor
        targetType: variable-aggregator
      id: 1729727741658-source-1729728469370-target
      selected: false
      source: '1729727741658'
      sourceHandle: source
      target: '1729728469370'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: if-else
      id: 1729728469370-source-1729731502683-target
      selected: false
      source: '1729728469370'
      sourceHandle: source
      target: '1729731502683'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1729731601814-source-1729731528813-target
      selected: false
      source: '1729731601814'
      sourceHandle: source
      target: '1729731528813'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1729470775843-source-1729742313140-target
      selected: false
      source: '1729470775843'
      sourceHandle: source
      target: '1729742313140'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1729742407503-source-1729742416660-target
      selected: false
      source: '1729742407503'
      sourceHandle: source
      target: '1729742416660'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1729742313140-false-1729742407503-target
      selected: false
      source: '1729742313140'
      sourceHandle: 'false'
      target: '1729742407503'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: 1729742313140-true-1729728369548-target
      selected: false
      source: '1729742313140'
      sourceHandle: 'true'
      target: '1729728369548'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1729731502683-false-1729731601814-target
      selected: false
      source: '1729731502683'
      sourceHandle: 'false'
      target: '1729731601814'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: 1729742313140-7ce9f0d6-2f2a-4487-a683-2881fd9a95b6-1729744958976-target
      selected: false
      source: '1729742313140'
      sourceHandle: 7ce9f0d6-2f2a-4487-a683-2881fd9a95b6
      target: '1729744958976'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1729744958976-source-1729745055873-target
      selected: false
      source: '1729744958976'
      sourceHandle: source
      target: '1729745055873'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 1729745055873-source-1729745883840-target
      selected: false
      source: '1729745055873'
      sourceHandle: source
      target: '1729745883840'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1729745883840-true-1729744231103-target
      selected: false
      source: '1729745883840'
      sourceHandle: 'true'
      target: '1729744231103'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: 1729731502683-true-1729748246206-target
      selected: false
      source: '1729731502683'
      sourceHandle: 'true'
      target: '1729748246206'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: variable-aggregator
      id: 1729748292854-source-1729748318556-target
      selected: false
      source: '1729748292854'
      sourceHandle: source
      target: '1729748318556'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1729748318556-source-1729681971224-target
      selected: false
      source: '1729748318556'
      sourceHandle: source
      target: '1729681971224'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1729748246206-false-1729748292854-target
      selected: false
      source: '1729748246206'
      sourceHandle: 'false'
      target: '1729748292854'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: variable-aggregator
      id: 1729748246206-true-1729748318556-target
      selected: false
      source: '1729748246206'
      sourceHandle: 'true'
      target: '1729748318556'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1729748318556-source-17297579713690-target
      selected: false
      source: '1729748318556'
      sourceHandle: source
      target: '17297579713690'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1729748318556-source-17297580308120-target
      selected: false
      source: '1729748318556'
      sourceHandle: source
      target: '17297580308120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: llm
      id: 1729748318556-source-17297700943980-target
      selected: false
      source: '1729748318556'
      sourceHandle: source
      target: '17297700943980'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 17297580308120-source-1729762470082-target
      selected: false
      source: '17297580308120'
      sourceHandle: source
      target: '1729762470082'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 17297579713690-source-1729762470082-target
      selected: false
      source: '17297579713690'
      sourceHandle: source
      target: '1729762470082'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 17297626682050-source-1729470826350-target
      selected: false
      source: '17297626682050'
      sourceHandle: source
      target: '1729470826350'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 17297700943980-source-1729777611576-target
      selected: false
      source: '17297700943980'
      sourceHandle: source
      target: '1729777611576'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1729777611576-source-1729762470082-target
      selected: false
      source: '1729777611576'
      sourceHandle: source
      target: '1729762470082'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: code
      id: 1729681971224-source-1729785130564-target
      selected: false
      source: '1729681971224'
      sourceHandle: source
      target: '1729785130564'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1729785130564-source-1729762470082-target
      selected: false
      source: '1729785130564'
      sourceHandle: source
      target: '1729762470082'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: http-request
      id: 1729762470082-source-17297626682050-target
      selected: false
      source: '1729762470082'
      sourceHandle: source
      target: '17297626682050'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: if-else
      id: 1729744231103-source-1729816442472-target
      selected: false
      source: '1729744231103'
      sourceHandle: source
      target: '1729816442472'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: variable-aggregator
      id: 1729816442472-true-1729728469370-target
      selected: false
      source: '1729816442472'
      sourceHandle: 'true'
      target: '1729728469370'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1729816442472-false-1729816543996-target
      selected: false
      source: '1729816442472'
      sourceHandle: 'false'
      target: '1729816543996'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1729816543996-source-1729816498398-target
      selected: false
      source: '1729816543996'
      sourceHandle: source
      target: '1729816498398'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1729745883840-false-17298456521160-target
      source: '1729745883840'
      sourceHandle: 'false'
      target: '17298456521160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 17298456521160-source-1729845731599-target
      source: '17298456521160'
      sourceHandle: source
      target: '1729845731599'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          label: ファイルを日本語で要約する（注意：アップロードしたファイルは削除できません）
          max_length: 5
          options: []
          required: false
          type: file
          variable: File
        - label: URLを入力（Web記事のテキストを日本語で要約）
          max_length: 65536
          options: []
          required: false
          type: paragraph
          variable: URL
      height: 116
      id: '1729470775843'
      position:
        x: -370
        y: -98.42857142857147
      positionAbsolute:
        x: -370
        y: -98.42857142857147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1729681971224'
          - text
          variable: text
        - value_selector:
          - '17297579713690'
          - text
          variable: text
        - value_selector:
          - '17297580308120'
          - text
          variable: text
        - value_selector:
          - '1729777611576'
          - result
          variable: result
        - value_selector:
          - '1729470775843'
          - URL
          variable: URL
        - value_selector:
          - '1729470775843'
          - File
          - name
          variable: name
        selected: false
        title: 終了
        type: end
      height: 220
      id: '1729470826350'
      position:
        x: 2929.6523637227015
        y: 109.95694886607066
      positionAbsolute:
        x: 2929.6523637227015
        y: 109.95694886607066
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: 304b8287-6c96-419d-8521-350ed214396c
          role: system
          text: "```xml\n<instruction>\n  <task_description>\n    You, as a professional\
            \ translator, should title the Japanese to best fit the text you are given.\n\
            \    Do not use markdown.\n  </task_description>\n\n  <instructions>\n\
            \    1. read the given text carefully.\n    2. come up with an appropriate\
            \ Japanese title based on the content and subject matter of the text\n\
            \    3. make sure the title is concise, clear, and expresses the main\
            \ point of the text\n    4. do not use markdown in the title.\n    5.\
            \ do not include XML tags in the output.\n    Note: The output should\
            \ contain only appropriate Japanese titles based on the given text.\n\
            \  </instructions>\n\n  <examples>\n    <example>\n      <input>\n   \
            \     Given Text: \"The Art of Japanese Cuisine\"\n      </input>\n  \
            \    <output>\n        日本料理の芸術\n      </output>\n    </example>\n\n  \
            \  <example>\n      <input>\n        Given Text: \"Exploring the Beauty\
            \ of Kyoto\"\n      </input>\n      <output>\n        京都の美を探る\n      </output>\n\
            \    </example>\n\n    <example>\n      <input>\n        Given Text: \"\
            Traditional Tea Ceremony in Japan\"\n      </input>\n      <output>\n\
            \        日本の伝統的な茶道\n      </output>\n    </example>\n  </examples>\n</instruction>\n\
            ```"
        - id: 384d1547-c00d-413d-952f-27411594b37f
          role: user
          text: テキスト：{{#1729728469370.Group1.output#}}
        selected: false
        title: LLM - Title
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1729681971224'
      position:
        x: 1975.7568588152756
        y: -98.42857142857147
      positionAbsolute:
        x: 1975.7568588152756
        y: -98.42857142857147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ファイルアップロードでURLを使おうとしたときの名残。URLアップロードが使えるようになったら再検討。
        provider_id: webscraper
        provider_name: webscraper
        provider_type: builtin
        selected: false
        title: Web Scraper
        tool_configurations:
          generate_summary: 0
          user_agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/100.0.1000.0 Safari/537.36
        tool_label: Web Scraper
        tool_name: webscraper
        tool_parameters:
          url:
            type: mixed
            value: '{{#1729470775843.File.url#}}'
        type: tool
      height: 176
      id: '1729726199675'
      position:
        x: 590.5292477379953
        y: -98.42857142857147
      positionAbsolute:
        x: 590.5292477379953
        y: -98.42857142857147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: false
        selected: false
        title: ドキュメントエクストラクター
        type: document-extractor
        variable_selector:
        - '1729470775843'
        - File
      height: 94
      id: '1729727741658'
      position:
        x: 590.5292477379953
        y: 81.66295031676103
      positionAbsolute:
        x: 590.5292477379953
        y: 81.66295031676103
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 4fa5231b-ff62-43ef-a279-dabe6faf8245
            value: html
            varType: string
            variable_selector:
            - '1729470775843'
            - File
            - mime_type
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 126
      id: '1729728369548'
      position:
        x: 257.2277171769647
        y: -98.42857142857147
      positionAbsolute:
        x: 257.2277171769647
        y: -98.42857142857147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        advanced_settings:
          group_enabled: true
          groups:
          - groupId: 2c653396-2689-4590-ab34-c711cf519d89
            group_name: Group1
            output_type: string
            variables:
            - - '1729726199675'
              - text
            - - '1729727741658'
              - text
            - - '1729744231103'
              - text
          - groupId: f75a65a6-d79c-4031-b764-6c847b637aee
            group_name: Group2
            output_type: string
            variables:
            - - '1729470775843'
              - URL
            - - '1729470775843'
              - File
              - url
        desc: ''
        output_type: string
        selected: false
        title: 変数集約器
        type: variable-aggregator
        variables:
        - - '1729726199675'
          - text
        - - '1729727741658'
          - text
        - - '1729744231103'
          - text
      height: 246
      id: '1729728469370'
      position:
        x: 962.3896545777443
        y: -98.42857142857147
      positionAbsolute:
        x: 962.3896545777443
        y: -98.42857142857147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 404bb7b2-a9fa-4fb0-b750-ce588dac556a
            value: ''
            varType: string
            variable_selector:
            - '1729728469370'
            - Group1
            - output
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 126
      id: '1729731502683'
      position:
        x: 962.3896545777443
        y: 231.24378614954992
      positionAbsolute:
        x: 962.3896545777443
        y: 231.24378614954992
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Unable to reald page
        outputs:
        - value_selector:
          - '1729731601814'
          - result
          variable: result
        selected: false
        title: End
        type: end
      height: 118
      id: '1729731528813'
      position:
        x: 962.3896545777443
        y: 615.0359149853223
      positionAbsolute:
        x: 962.3896545777443
        y: 615.0359149853223
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main() -> dict:\n    message = \"Error: 指定されたURLのテキストは読み取れません。\"\
          \n    return {'result': message}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Error Message - Unable to read
        type: code
        variables: []
      height: 54
      id: '1729731601814'
      position:
        x: 962.3896545777443
        y: 526.0484378041743
      positionAbsolute:
        x: 962.3896545777443
        y: 526.0484378041743
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: exists
            id: 92c032c6-b449-4cc2-a066-ad492dd1fbc7
            value: ''
            varType: file
            variable_selector:
            - '1729470775843'
            - File
          - comparison_operator: empty
            id: 491b0505-27bb-430c-9fb3-0c46a605efd3
            value: ''
            varType: string
            variable_selector:
            - '1729470775843'
            - URL
          id: 'true'
          logical_operator: and
        - case_id: 7ce9f0d6-2f2a-4487-a683-2881fd9a95b6
          conditions:
          - comparison_operator: not exists
            id: bd48eca8-052c-42ca-b508-d11fb2ca0d45
            value: ''
            varType: file
            variable_selector:
            - '1729470775843'
            - File
          - comparison_operator: not empty
            id: 687e5d45-605a-4151-b482-4241413b8303
            value: ''
            varType: string
            variable_selector:
            - '1729470775843'
            - URL
          id: 7ce9f0d6-2f2a-4487-a683-2881fd9a95b6
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 3
        type: if-else
      height: 226
      id: '1729742313140'
      position:
        x: -48.85714285714289
        y: -98.42857142857147
      positionAbsolute:
        x: -48.85714285714289
        y: -98.42857142857147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main() -> dict:\n    message = \"Error: ファイルとURLのどちらか１つを入力してください\"\
          \n    return {'result': message}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Error Message - Target Selection
        type: code
        variables: []
      height: 54
      id: '1729742407503'
      position:
        x: -48.85714285714289
        y: 526.0484378041743
      positionAbsolute:
        x: -48.85714285714289
        y: 526.0484378041743
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Exit without loading file and URL
        outputs:
        - value_selector:
          - '1729742407503'
          - result
          variable: result
        selected: false
        title: End
        type: end
      height: 118
      id: '1729742416660'
      position:
        x: -48.85714285714289
        y: 615.0359149853223
      positionAbsolute:
        x: -48.85714285714289
        y: 615.0359149853223
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: webscraper
        provider_name: webscraper
        provider_type: builtin
        selected: false
        title: Web Scraper 2
        tool_configurations:
          generate_summary: 0
          user_agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36
            (KHTML, like Gecko) Chrome/100.0.1000.0 Safari/537.36
        tool_label: Web Scraper
        tool_name: webscraper
        tool_parameters:
          url:
            type: mixed
            value: '{{#1729470775843.URL#}}'
        type: tool
      height: 116
      id: '1729744231103'
      position:
        x: 590.5292477379953
        y: 231.24378614954992
      positionAbsolute:
        x: 590.5292477379953
        y: 231.24378614954992
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: head
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Get HTTP header
        type: http-request
        url: '{{#1729470775843.URL#}}'
        variables: []
      height: 96
      id: '1729744958976'
      position:
        x: 257.2277171769647
        y: 81.66295031676103
      positionAbsolute:
        x: 257.2277171769647
        y: 81.66295031676103
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(headers: dict) -> dict:\n    \"\"\"\n    ヘッダ情報を解析し、コンテンツタイプがHTMLかどうかを判定する関数\n\
          \n    Args:\n        headers: HTTPリクエストヘッダの辞書\n\n    Returns:\n        dict:\
          \ 判定結果を格納した辞書\n    \"\"\"\n\n    content_type = headers.get('content-type')\n\
          \    if content_type and content_type.startswith(\"text/html\"):\n     \
          \   return {'result': \"HTML\"}\n    else:\n        return {'result': \"\
          Not HTML\"}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: HTML Checker
        type: code
        variables:
        - value_selector:
          - '1729744958976'
          - headers
          variable: headers
      height: 54
      id: '1729745055873'
      position:
        x: 257.2277171769647
        y: 231.24378614954992
      positionAbsolute:
        x: 257.2277171769647
        y: 231.24378614954992
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: d8887a65-af85-4608-810b-3d073ed32c93
            value: HTML
            varType: string
            variable_selector:
            - '1729745055873'
            - result
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 4
        type: if-else
      height: 126
      id: '1729745883840'
      position:
        x: 257.2277171769647
        y: 375.60557596816886
      positionAbsolute:
        x: 257.2277171769647
        y: 375.60557596816886
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 3d3f43b1-c8d2-494a-9252-02db7b4269de
            value: ''
            varType: string
            variable_selector:
            - '1729728469370'
            - Group2
            - output
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 5
        type: if-else
      height: 126
      id: '1729748246206'
      position:
        x: 1293.1412307921084
        y: -98.42857142857147
      positionAbsolute:
        x: 1293.1412307921084
        y: -98.42857142857147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(name: str) -> dict:\n    res = \"Local file: \" + name\n \
          \   return {\"result\": res}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Add File Name
        type: code
        variables:
        - value_selector:
          - '1729470775843'
          - File
          - name
          variable: name
      height: 54
      id: '1729748292854'
      position:
        x: 1293.1412307921084
        y: 81.66295031676103
      positionAbsolute:
        x: 1293.1412307921084
        y: 81.66295031676103
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: 変数集約器 2
        type: variable-aggregator
        variables:
        - - '1729748292854'
          - result
        - - '1729728469370'
          - Group2
          - output
      height: 138
      id: '1729748318556'
      position:
        x: 1638.5745616689665
        y: -98.42857142857147
      positionAbsolute:
        x: 1638.5745616689665
        y: -98.42857142857147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens_to_sample: 8192
            temperature: 0.1
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: 304b8287-6c96-419d-8521-350ed214396c
          role: system
          text: 'Write a concise summary in Japanese that captures the essence of
            the text.

            Ensure that the summary MUST not exceed 100 token.'
        - id: 384d1547-c00d-413d-952f-27411594b37f
          role: user
          text: テキスト：{{#1729728469370.Group1.output#}}
        selected: false
        title: LLM - Summary
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '17297579713690'
      position:
        x: 1975.7568588152756
        y: 48.24764123810198
      positionAbsolute:
        x: 1975.7568588152756
        y: 48.24764123810198
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            max_tokens_to_sample: 8192
            temperature: 0.1
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: 304b8287-6c96-419d-8521-350ed214396c
          role: system
          text: 'Write concise bullet points in Japanese that capture the essence
            of the text.

            Must have no more than 10 bullet points.

            Ensure that bulleted sentences MUST not exceed 15 tokens.

            Do not use markdown notation.'
        - id: 384d1547-c00d-413d-952f-27411594b37f
          role: user
          text: テキスト：{{#1729728469370.Group1.output#}}
        selected: false
        title: LLM - Bullet
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '17297580308120'
      position:
        x: 1975.7568588152756
        y: 173.20146094973313
      positionAbsolute:
        x: 1975.7568588152756
        y: 173.20146094973313
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(arg1: str, arg2: str, arg3: str, arg4: list[str], arg5: str,\
          \ arg6: str, Notion_database_ID: str, Notion_Master_DB_ID: str) -> dict:\n\
          \    children = []\n    children.append({\"object\": 'block', \"type\":\
          \ 'heading_1', \"heading_1\": {\"rich_text\": [{\"text\": {\"content\":\
          \ \"要点\"}}]}})\n    children.append({\"object\": 'block', \"type\": 'paragraph',\
          \ \"paragraph\": {\"rich_text\": [{\"text\": {\"content\": arg3}}]}})\n\
          \    children.append({\"object\": 'block', \"type\": 'heading_1', \"heading_1\"\
          : {\"rich_text\": [{\"text\": {\"content\": \"全文翻訳\"}}]}})\n    for string\
          \ in arg4:\n        children.append({\"object\": 'block', \"type\": 'paragraph',\
          \ \"paragraph\": {\"rich_text\": [{\"text\": {\"content\": string}}]}})\n\
          \n    json_data = {\n        \"parent\": {\"database_id\": Notion_database_ID},\n\
          \        \"properties\": {\n            \"title\": {\n                \"\
          title\": [\n                    {\n                        \"text\": {\n\
          \                            \"content\": arg1\n                       \
          \ }\n                    }\n                ]\n            },\n        \
          \    \"Summary\": {\n                \"rich_text\": [\n                \
          \    {\n                        \"text\": {\n                          \
          \  \"content\": arg2\n                        }\n                    }\n\
          \                ]\n            },\n            \"URL\": {\n           \
          \     \"url\": arg5\n            },\n            \"ExecutedDate\": {\n \
          \               \"date\": {\n                    \"start\": arg6\n     \
          \           }\n            },\n            \"Relation\":{\n            \
          \    \"relation\":[\n                    {\n                        \"id\"\
          :Notion_Master_DB_ID\n                    }\n                ]\n       \
          \         \n            }            \n        },\n        \"children\"\
          :children\n        \n    }\n\n    return {'result': json.dumps(json_data,\
          \ ensure_ascii=False)}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Payload Generation
        type: code
        variables:
        - value_selector:
          - '1729681971224'
          - text
          variable: arg1
        - value_selector:
          - '17297579713690'
          - text
          variable: arg2
        - value_selector:
          - '17297580308120'
          - text
          variable: arg3
        - value_selector:
          - '1729777611576'
          - result
          variable: arg4
        - value_selector:
          - '1729748318556'
          - output
          variable: arg5
        - value_selector:
          - '1729785130564'
          - result
          variable: arg6
        - value_selector:
          - env
          - Notion_database_ID
          variable: Notion_database_ID
        - value_selector:
          - env
          - Notion_Master_DB_ID
          variable: Notion_Master_DB_ID
      height: 54
      id: '1729762470082'
      position:
        x: 2638.208427008884
        y: -98.42857142857147
      positionAbsolute:
        x: 2638.208427008884
        y: -98.42857142857147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config:
            api_key: '{{#env.Notion_API_Key#}}'
            type: bearer
          type: api-key
        body:
          data:
          - id: key-value-5
            key: ''
            type: text
            value: '{{#1729762470082.result#}}'
          type: json
        desc: ''
        headers: Notion-Version:2022-06-28
        method: post
        params: ''
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Post to Notion
        type: http-request
        url: https://api.notion.com/v1/pages
        variables: []
      height: 110
      id: '17297626682050'
      position:
        x: 2929.6523637227015
        y: -98.42857142857147
      positionAbsolute:
        x: 2929.6523637227015
        y: -98.42857142857147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: gemini-1.5-flash-latest
          provider: google
        prompt_template:
        - id: 304b8287-6c96-419d-8521-350ed214396c
          role: system
          text: 'You are a professional translator.

            Read the given text and translate it into Japanese without errors or omissions.

            Please be sure to translate the information into easily understandable
            Japanese.'
        - id: 384d1547-c00d-413d-952f-27411594b37f
          role: user
          text: テキスト：{{#1729728469370.Group1.output#}}
        selected: false
        title: LLM - Translate
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '17297700943980'
      position:
        x: 1975.7568588152756
        y: 314.4806750358691
      positionAbsolute:
        x: 1975.7568588152756
        y: 314.4806750358691
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(text: str) -> dict:\n    import re\n    if len(text) > 400:\n\
          \        #split_text = re.split(r'(?<=。)', text)  # Split at '。' while keeping\
          \ the delimiter\n\n        split_text = re.split(r'(?<=。|\\n)', text)  #\
          \ Split at '。' or newline while keeping the delimiter        \n        \n\
          \        result = []\n        current_chunk = \"\"\n        for sentence\
          \ in split_text:\n            if len(current_chunk) + len(sentence) > 400:\n\
          \                result.append(current_chunk)\n                current_chunk\
          \ = sentence\n            else:\n                current_chunk += sentence\n\
          \        if current_chunk:\n            result.append(current_chunk)\n \
          \       return {'result': result}\n    return {'result': [text]}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[string]
        selected: false
        title: Output Splitter
        type: code
        variables:
        - value_selector:
          - '17297700943980'
          - text
          variable: text
      height: 54
      id: '1729777611576'
      position:
        x: 2293.2219536431116
        y: 314.4806750358691
      positionAbsolute:
        x: 2293.2219536431116
        y: 314.4806750358691
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main() -> dict:\n    from datetime import datetime, timedelta,\
          \ timezone\n    JST = timezone(timedelta(hours=9))\n    current_time_jst\
          \ = datetime.now(JST).isoformat()\n    return {'result': current_time_jst}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Get Current DateTime
        type: code
        variables: []
      height: 54
      id: '1729785130564'
      position:
        x: 2301.6523637227015
        y: -98.42857142857147
      positionAbsolute:
        x: 2301.6523637227015
        y: -98.42857142857147
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is not
            id: 733c9d3d-a14e-4ca2-8da1-0737ea042ce4
            value: URL returned status code 404.
            varType: string
            variable_selector:
            - '1729744231103'
            - text
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE 6
        type: if-else
      height: 126
      id: '1729816442472'
      position:
        x: 590.5292477379953
        y: 375.60557596816886
      positionAbsolute:
        x: 590.5292477379953
        y: 375.60557596816886
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: 404 error
        outputs:
        - value_selector:
          - '1729816543996'
          - result
          variable: result
        selected: false
        title: End
        type: end
      height: 118
      id: '1729816498398'
      position:
        x: 590.5292477379953
        y: 615.0359149853223
      positionAbsolute:
        x: 590.5292477379953
        y: 615.0359149853223
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main() -> dict:\n    message = \"Error: URLを見直してください（URL returned\
          \ status code 404.）\"\n    return {'result': message}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Error Message - 404
        type: code
        variables: []
      height: 54
      id: '1729816543996'
      position:
        x: 590.5292477379953
        y: 526.0484378041743
      positionAbsolute:
        x: 590.5292477379953
        y: 526.0484378041743
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main() -> dict:\n    message = \"Error: 指定されたURLはHTML形式ではありません。PDF等のURLを指定している場合は、ファイルアップロード機能で対象のURLを入力してください。\"\
          \n    return {'result': message}"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Error Message - Non-HTML
        type: code
        variables: []
      height: 54
      id: '17298456521160'
      position:
        x: 257.2277171769647
        y: 526.0484378041743
      positionAbsolute:
        x: 257.2277171769647
        y: 526.0484378041743
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Non-HTML
        outputs:
        - value_selector:
          - '17298456521160'
          - result
          variable: result
        selected: false
        title: END
        type: end
      height: 118
      id: '1729845731599'
      position:
        x: 257.2277171769647
        y: 615.0359149853223
      positionAbsolute:
        x: 257.2277171769647
        y: 615.0359149853223
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -1340.72002146256
      y: 457.80380434230784
      zoom: 0.7578582832552
